.temp{
    font-size: 70px;
    text-align: center;
    font-weight: normal;
}

.location, .icon, .desc{
    text-align: center
}

.icon img{
    width:80px;
}

.location{
    font-size:40px;
}

.desc{
    font-size:30px;
}